$theme-colors: (
        "primary":$blue-400,
        "secondary":$gray-300,
        "laravel":tomato,
        "teal":teal,
        "milk":red,
        "sidebar":#1e282c
);
$sidebar: #1e282c;
$milk: #eeeeee;
.bg-milk {
  background-color: $milk;
}

.bg-sidebar {
  background-color: $sidebar;
}

@import "~bootstrap/scss/bootstrap";